<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="COM_VISIBLE" value="True" />
    
    <!--<add key="DATETIME_KIND" value="UTC" />-->
    <add key="DATETIME_FORMAT_SQL" value="yyyy-MM-dd HH:mm:ss.fffffff" />
    
    <add key="SEPARATOR_HEAD" value="[" />
    <add key="SEPARATOR_TAIL" value="]" />
    
    <add key="EXCEPTION_FORMAT" value="EXCEPTION_TYPE,EXCEPTION_MESSAGE,EXCEPTION_RESPONSE_STRING,EXCEPTION_HELPLINK,EXCEPTION_RESPONSE_URI,EXCEPTION_STACKTRACE" />
    
    <add key="UNIQUE_INT_BEGIN" value="1" />
    <add key="UNIQUE_LONG_BEGIN" value="1" />
  </appSettings>
</configuration>